{% extends 'base.html' %}
{% block content %}
<h1  class="heading">
  <a class="back-button" href="{{request.META.HTTP_REFERER}}"> < </a>
  Добавить продукт
</h1>
<form name="Add product" class="product-form" action="#" method="post" style="text-align: center">
  {% csrf_token %}
  <input class="input title" placeholder="Название" placeholder="Изображение">
  <br>
  <br>
  <input class="input discribtion" placeholder="Содержание">
  <br>
  <br>
  <input class="input image" placeholder="Изображение">
  <br>
  <br>
  <button type="submit">Дабавить</button>
</form>
{% endblock %}