{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static '/shop/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<header class="header">
  {% block mainmenu %}
    <div id="container">
        <nav class="header-menu">
            <ul class="header-list">
                <a href="{% url 'home' %}">
                  <img src="{% static 'shop/img/logo.svg' %}" alt="Whitesquare logo"
                                                width=80px;>
                </a>
              {% if user.is_authenticated %}
                  <a class="nav-button" href="{% url 'user_page' %}">
                    {{ user.get_username }}
                  </a>
                   <a class="nav-button" href="{% url 'card' %}">
                    Корзина
                  </a>
              {% else %}
                  <a class="nav-button" href="{% url 'login' %}">
                    Войти
                  </a>
              {% endif %}  
              {% for m in menu %}
              	{% if not forloop.last %}
              <a class="nav-button" href="{% url m.url_name %}">{{m.title}}</a>
              	{% else %}
              <a class="nav-button" href="{% url m.url_name %}">{{m.title}}</a>
              	{% endif %}
              {% endfor %}
      			</ul>
			<div class="clear"></div>
                <!-- <a  href="{% url 'feedback' %}"> Feedback </a>
                <a class="nav-button" href="{% url 'login' %}">LOG IN</a>
            </ul> -->
        </nav>
    </div>
  {% endblock mainmenu %}
</header>
<body>
  <content>
    {% block content %}
    {% endblock %}
  </content>
</body>
<footer>
      <div class="footer">
        <div class="footer-content-right">
          <a href="https://github.com/"><img class="icon" src="{% static 'shop/img/github.webp' %}" class="icon-style" alt="Github icon"></a>
          <a href="https://vk.com/"><img class="icon" src="{% static 'shop/img/vk.png' %}" class="icon-style" alt="VK icon"></a>
          <a href="https://mail.google.com/"><img class="icon" src="{% static 'shop/img/gmail.png' %}" class="icon-style" alt="Gmai icon"></a>
        </div>
      </div>
</footer>
<!-- <script src="{% static 'shop/js/script.js' %}"></script> -->
<script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>
<!-- <script src="{% static 'shop/js/validate.js' %}"></script>
<script src="{% static 'shop/js/feedback.js' %}"> </script> -->
  {% include 'script_card_block.html' %}
</html>